cycler==0.10.0
dj-database-url==0.4.2
Django==1.11.29
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.0.5
gevent==1.2.1
gunicorn==19.7.1
h5py==2.6.0
jsonschema==2.5.1
matplotlib==2.0.0
mpmath==0.19
numpy==1.11.3
numpydoc==0.6.0
packaging==16.8
pandas==0.19.2
Pillow==4.0.0
psycopg2==2.7.1
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2016.10
pyzmq==16.0.2
requests==2.12.4
scikit-image==0.12.3
scikit-learn==0.18.1
scipy==0.18.1
six==1.10.0
unicodecsv==0.14.1
virtualenv==15.1.0
whitenoise==3.3.0
django-bootstrap3==8.2.3
django-picklefield==0.3.2