{% extends "base.html" %}
{% load staticfiles %}
{% block title %}About{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4 custom-container">
			<h2>What is M.A.P ?</h2>
			<p class="horizontalLine">
				<strong>Multicriteria analysis platform</strong> is used for online implentation of methods belonging to multicriteria decision analysis family. In this platform users can create their own research with user given data while being able to save and see results of multiple criteria analysis methods.
			</p>
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>
{% endblock %}